In [9]:
import pandas as pd
import numpy as np

In [58]:
lable1= pd.read_csv('lable_crawling.csv')
lable1

,Unnamed: 0,여행스타그램1.jpg,여행스타그램2.jpg,여행스타그램3.jpg,여행스타그램4.jpg,여행스타그램5.jpg
0,0,Clothing,Flower,Hair,Dog,Hair
1,1,Beauty,Blossom,Face,Vertebrate,Face
2,2,Outerwear,Spring,Hairstyle,Canidae,Lip
3,3,Blazer,Cherry blossom,Bangs,Mammal,Black hair
4,4,Leg,Plant,Black hair,Toy Poodle,Eyebrow
5,5,Sitting,Tree,Beauty,Dog breed,Hairstyle
6,6,Leggings,Branch,Head,Maltepoo,Skin
7,7,Tights,Twig,Long hair,Miniature Poodle,Beauty
8,8,Jacket,Woody plant,Lip,Companion dog,Long hair
9,9,Sleeve,Prunus,Eyebrow,Head,Selfie

In [31]:
lable1.shape

(10, 6)

In [60]:
hashtag1 = pd.read_csv('hashtag_crawling.csv').iloc[:,:10]
hashtag1.head(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8
0,0,여행스타그램1.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,여행스타그램2.jpg,portra160,canonae1,제주도벚꽃,맑음_봄을담다,벚꽃,무보정,jejudo,캐논ae1
2,2,여행스타그램3.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,여행스타그램4.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,여행스타그램5.jpg,likeforlikes,선팔하면맞팔,훈남,뷰티스타그램,선팔환영,좋반테러,구시청,광주

In [33]:
hashtag1.shape

(479, 10)

#### 각 lable별로 hashtag가 해당되면 빈도수 누적합산하기

In [ ]:
freq1 = pd.to_csv('./freq1.csv')
freq1