In [23]:
import pandas as pd
import numpy as np

In [32]:
label_data1= pd.read_csv('HashTag_example.csv')
label_data1.head(10)

,Unnamed: 0,person,man,woman,building,road,car,apprel,t-shirt,shirt,pants,pants.1,mountain,sea,trees,road.1,HashTag
0,1,0,0,0,0,0,5,0,0,1,0,0,2,0,0,0,road car person
1,2,0,0,0,4,1,0,0,1,0,0,1,0,0,3,0,relationship spring woman
2,3,1,1,0,0,0,0,0,0,0,1,1,2,0,0,0,travel food
3,4,7,0,0,0,1,2,0,0,0,0,0,0,0,0,0,person human
4,5,0,0,0,0,0,0,0,2,0,1,0,2,0,0,2,person muk-bang
5,6,2,0,0,2,0,0,0,1,0,0,1,1,0,4,0,person juice
6,7,0,0,0,0,0,0,0,2,3,0,0,0,1,5,0,person pizza
7,8,0,0,0,0,0,0,0,0,4,5,1,0,0,0,0,person hamburger fastfood
8,9,3,0,6,0,0,0,0,0,0,0,0,0,0,1,0,lecture lecture-room chair
9,10,0,0,5,4,3,0,0,0,0,0,0,1,0,0,2,office chair suit

In [33]:
label_data1.shape

(20, 17)